.paginationRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid rgb(9, 59, 59);
  border-radius: 3px;
  margin: 3px;
  height: 60px;
  align-content: center;
  justify-content: center;
  width: 650px;
}

.paginationHeader {
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.paginationLeft {
  border-right: 1px solid rgb(31, 149, 149);
  width: 300px;
  text-align: center;
  margin: 2px;
}

.paginationRight {
  text-align: center;
  padding-left: 10px;
  width: 300px;
  margin: 2px;
}

.paginationPageCounter {
  margin-left: 10px;
  margin-right: 10px;
}
