#Container h2 {
    position: relative;
    text-align: center !important;
}

.locationName {
    border-right: 1px solid rgb(31, 149, 149);
    width: 300px;
    text-align: center;
    margin: 2px;
}

.locationType {
    text-align: center;
    padding-left: 10px;
    width: 300px;
    margin: 2px;
}