#Container {
    position: relative;

}

h2 {
    text-align: center;
}

.locationRow {
    display: flex;
    border: 1px solid rgb(9, 59, 59);
    border-radius: 3px;
    align-items: center;
    min-height: 60px;
    margin: 1.5px;
    width: 650px;
}

#locationName {
    border-right: 1px solid rgb(31, 149, 149);
    width: 300px;
    text-align: center;
    margin: 2px;
}

#locationType {
    text-align: center;
    padding-left: 10px;
    width: 300px;
}