.Layout {
    color: rgb(18, 207, 207);
    background-color: rgb(32, 32, 32);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Layout__img {
    max-height: 500px;
    max-width: 99%;
}

.Layout__buttons {
    display: flex;
    justify-content: space-evenly;
}

.Layout__button.char {
    background-color: #01b5cc;
    border-radius: 20px 3px 3px 20px;
    color: #00303a;
    outline: 3px solid #b1e029;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 10px;
    border: 3px #00303a solid;
    width: 70px;
}

.Layout__button.loc {
    background-color: #01b5cc;
    border-radius: 3px 20px 20px 3px;
    color: #00303a;
    outline: 3px solid #b1e029;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    padding: 10px;
    border: 3px #00303a solid;
    width: 70px;
}

.Layout__button:hover {
    opacity: 0.7;
    color: yellow;
    transition: linear 0.2s all;
}