.pagination {
    text-align: center;
}

#Container {
    margin: none;
    display: flex;
    flex-direction: column;
}

.Click:hover {
    cursor: pointer;
}

.locDispCont {
    text-align: center;
    margin: none;
    padding: none;
}

.pageCounter {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}