#Container {
    margin: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
}


.Click:hover {
    cursor: pointer;
}

.locDispCont {
    width: 100%;
    padding: none;
}

.pageCounter {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}